the_project/the_project/settings.py
the_project/media/
the_project/django.crt
the_project/django.key
the_project/the_project/__pycache__/
the_project/web_back/__pycache__/
the_project/web_back/migrations/__pycache__/
